In [16]:
import pandas as pd

In [17]:
!ls

Intersection.csv                    intersection.ipynb
export-2019-06-10T04-15-16.905Z.csv

In [18]:
Intersection = pd.read_csv('Intersection.csv', header=None)

In [19]:
ground_truth = data = pd.read_csv('export-2019-06-10T04-15-16.905Z.csv', header=None)

In [20]:
ground_truth_name =ground_truth [9]

In [21]:
ground_truth_name = ground_truth_name.drop(0)

In [22]:
ground_truth_name.head()

1     0.jpg
2     1.jpg
3     2.jpg
4    10.jpg
5    11.jpg
Name: 9, dtype: object

In [23]:
Intersection_name =Intersection[0]

In [24]:
Intersection_name.head()

0        1.jpg
1       10.jpg
2      100.jpg
3     1000.jpg
4    10000.jpg
Name: 0, dtype: object

In [27]:
pd.Series(list(set(ground_truth_name) & set(Intersection_name)))

0       1137.jpg
1       1698.jpg
2      10061.jpg
3        141.jpg
4       1084.jpg
5       1678.jpg
6       1092.jpg
7       1733.jpg
8       1722.jpg
9      10042.jpg
10      1662.jpg
11       104.jpg
12       167.jpg
13      1660.jpg
14      1781.jpg
15       142.jpg
16      1707.jpg
17      1109.jpg
18      1526.jpg
19       121.jpg
20       140.jpg
21     10004.jpg
22       102.jpg
23        16.jpg
24       106.jpg
25      1074.jpg
26     10024.jpg
27      1512.jpg
28      1720.jpg
29      1767.jpg
         ...
522      166.jpg
523      134.jpg
524     1779.jpg
525     1020.jpg
526    10052.jpg
527     1776.jpg
528     1091.jpg
529     1031.jpg
530      115.jpg
531      105.jpg
532     1747.jpg
533     1715.jpg
534     1705.jpg
535    10033.jpg
536      147.jpg
537     1709.jpg
538     1804.jpg
539     1112.jpg
540     1540.jpg
541     1095.jpg
542     1524.jpg
543     1780.jpg
544     1744.jpg
545     1575.jpg
546     1746.jpg
547     1729.jpg
548      181.jpg
549     1508.jpg
550    10010.jpg
551     1806.jpg
Length: 552, dtype: object

In [28]:
siyangdata = pd.read_csv('siyang.csv', header=None)
siyangdata_name =siyangdata[0]

In [36]:
c = pd.Series(list(set(siyangdata_name) & set(Intersection_name)))

In [38]:
pd.concat([c,Intersection_name]).drop_duplicates(keep=False)

3       1000.jpg
4      10000.jpg
5      10001.jpg
6      10002.jpg
7      10003.jpg
8      10004.jpg
9      10007.jpg
10     10009.jpg
11      1001.jpg
12     10010.jpg
13     10012.jpg
14     10013.jpg
15     10015.jpg
16     10016.jpg
17     10018.jpg
18      1002.jpg
19     10020.jpg
20     10021.jpg
21     10023.jpg
22     10024.jpg
23     10026.jpg
24     10027.jpg
25     10028.jpg
26     10029.jpg
27      1003.jpg
28     10030.jpg
29     10031.jpg
30     10032.jpg
31     10033.jpg
32     10034.jpg
         ...
519     1791.jpg
520     1792.jpg
521     1793.jpg
522     1794.jpg
523     1795.jpg
524     1796.jpg
525     1797.jpg
526     1798.jpg
527     1799.jpg
529      180.jpg
530     1800.jpg
531     1801.jpg
532     1802.jpg
533     1803.jpg
534     1804.jpg
535     1805.jpg
536     1806.jpg
537      181.jpg
538      182.jpg
539      183.jpg
540      184.jpg
541      185.jpg
542      186.jpg
543      187.jpg
544      188.jpg
545      189.jpg
547      190.jpg
548      191.jpg
549      192.jpg
550      193.jpg
Length: 465, dtype: object